import %workspace%/envoy/.bazelrc
build:asan --action_env="CC=clang"
build:asan --action_env="CXX=clang++"

build:tsan --action_env="CC=clang"
build:tsan --action_env="CXX=clang++"
build  --verbose_failures  --action_env=HOME --action_env=PYTHONUSERBASE --jobs=12 --show_task_finish --experimental_generate_json_trace_profile 
build  --verbose_failures  --action_env=HOME --action_env=PYTHONUSERBASE --jobs=12 --show_task_finish --experimental_generate_json_trace_profile 
build  --verbose_failures  --action_env=HOME --action_env=PYTHONUSERBASE --jobs=12 --show_task_finish --experimental_generate_json_trace_profile 
build  --verbose_failures  --action_env=HOME --action_env=PYTHONUSERBASE --jobs=12 --show_task_finish --experimental_generate_json_trace_profile 
build  --verbose_failures  --action_env=HOME --action_env=PYTHONUSERBASE --jobs=12 --show_task_finish --experimental_generate_json_trace_profile 
build  --verbose_failures  --action_env=HOME --action_env=PYTHONUSERBASE --jobs=12 --show_task_finish --experimental_generate_json_trace_profile 
build  --verbose_failures  --action_env=HOME --action_env=PYTHONUSERBASE --jobs=12 --show_task_finish --experimental_generate_json_trace_profile 
build  --verbose_failures  --action_env=HOME --action_env=PYTHONUSERBASE --jobs=12 --show_task_finish --experimental_generate_json_trace_profile 
build  --verbose_failures  --action_env=HOME --action_env=PYTHONUSERBASE --jobs=12 --show_task_finish --experimental_generate_json_trace_profile 
build  --verbose_failures  --action_env=HOME --action_env=PYTHONUSERBASE --jobs=12 --show_task_finish --experimental_generate_json_trace_profile 
build  --verbose_failures  --action_env=HOME --action_env=PYTHONUSERBASE --jobs=12 --show_task_finish --experimental_generate_json_trace_profile 
build  --verbose_failures  --action_env=HOME --action_env=PYTHONUSERBASE --jobs=12 --show_task_finish --experimental_generate_json_trace_profile 
build  --verbose_failures  --action_env=HOME --action_env=PYTHONUSERBASE --jobs=12 --show_task_finish --experimental_generate_json_trace_profile 
build  --verbose_failures  --action_env=HOME --action_env=PYTHONUSERBASE --jobs=12 --show_task_finish --experimental_generate_json_trace_profile 
build  --verbose_failures  --action_env=HOME --action_env=PYTHONUSERBASE --jobs=12 --show_task_finish --experimental_generate_json_trace_profile 
build  --verbose_failures  --action_env=HOME --action_env=PYTHONUSERBASE --jobs=12 --show_task_finish --experimental_generate_json_trace_profile 
build  --verbose_failures  --action_env=HOME --action_env=PYTHONUSERBASE --jobs=12 --show_task_finish --experimental_generate_json_trace_profile 
build  --verbose_failures  --action_env=HOME --action_env=PYTHONUSERBASE --jobs=12 --show_task_finish --experimental_generate_json_trace_profile 
build  --verbose_failures  --action_env=HOME --action_env=PYTHONUSERBASE --jobs=12 --show_task_finish --experimental_generate_json_trace_profile 
build  --verbose_failures  --action_env=HOME --action_env=PYTHONUSERBASE --jobs=12 --show_task_finish --experimental_generate_json_trace_profile 
build  --verbose_failures  --action_env=HOME --action_env=PYTHONUSERBASE --jobs=12 --show_task_finish --experimental_generate_json_trace_profile 
build  --verbose_failures  --action_env=HOME --action_env=PYTHONUSERBASE --jobs=12 --show_task_finish --experimental_generate_json_trace_profile 
build  --verbose_failures  --action_env=HOME --action_env=PYTHONUSERBASE --jobs=12 --show_task_finish --experimental_generate_json_trace_profile 
build  --verbose_failures  --action_env=HOME --action_env=PYTHONUSERBASE --jobs=12 --show_task_finish --experimental_generate_json_trace_profile 
build  --verbose_failures  --action_env=HOME --action_env=PYTHONUSERBASE --jobs=12 --show_task_finish --experimental_generate_json_trace_profile 
build  --verbose_failures  --action_env=HOME --action_env=PYTHONUSERBASE --jobs=12 --show_task_finish --experimental_generate_json_trace_profile 
build  --verbose_failures  --action_env=HOME --action_env=PYTHONUSERBASE --jobs=12 --show_task_finish --experimental_generate_json_trace_profile 
build  --verbose_failures  --action_env=HOME --action_env=PYTHONUSERBASE --jobs=12 --show_task_finish --experimental_generate_json_trace_profile 
build  --verbose_failures  --action_env=HOME --action_env=PYTHONUSERBASE --jobs=12 --show_task_finish --experimental_generate_json_trace_profile 
build  --verbose_failures  --action_env=HOME --action_env=PYTHONUSERBASE --jobs=12 --show_task_finish --experimental_generate_json_trace_profile 
build  --verbose_failures  --action_env=HOME --action_env=PYTHONUSERBASE --jobs=12 --show_task_finish --experimental_generate_json_trace_profile 
build  --verbose_failures  --action_env=HOME --action_env=PYTHONUSERBASE --jobs=12 --show_task_finish --experimental_generate_json_trace_profile 
build  --verbose_failures  --action_env=HOME --action_env=PYTHONUSERBASE --jobs=12 --show_task_finish --experimental_generate_json_trace_profile 
build  --verbose_failures  --action_env=HOME --action_env=PYTHONUSERBASE --jobs=12 --show_task_finish --experimental_generate_json_trace_profile 
build  --verbose_failures  --action_env=HOME --action_env=PYTHONUSERBASE --jobs=12 --show_task_finish --experimental_generate_json_trace_profile 
build  --verbose_failures  --action_env=HOME --action_env=PYTHONUSERBASE --jobs=12 --show_task_finish --experimental_generate_json_trace_profile 
build  --verbose_failures  --action_env=HOME --action_env=PYTHONUSERBASE --jobs=12 --show_task_finish --experimental_generate_json_trace_profile 
build  --verbose_failures  --action_env=HOME --action_env=PYTHONUSERBASE --jobs=12 --show_task_finish --experimental_generate_json_trace_profile 
build  --verbose_failures  --action_env=HOME --action_env=PYTHONUSERBASE --jobs=12 --show_task_finish --experimental_generate_json_trace_profile 
build  --verbose_failures  --action_env=HOME --action_env=PYTHONUSERBASE --jobs=12 --show_task_finish --experimental_generate_json_trace_profile 
build  --verbose_failures  --action_env=HOME --action_env=PYTHONUSERBASE --jobs=12 --show_task_finish --experimental_generate_json_trace_profile 
build  --verbose_failures  --action_env=HOME --action_env=PYTHONUSERBASE --jobs=12 --show_task_finish --experimental_generate_json_trace_profile 
build  --verbose_failures  --action_env=HOME --action_env=PYTHONUSERBASE --jobs=12 --show_task_finish --experimental_generate_json_trace_profile 
build  --verbose_failures  --action_env=HOME --action_env=PYTHONUSERBASE --jobs=12 --show_task_finish --experimental_generate_json_trace_profile 
build  --verbose_failures  --action_env=HOME --action_env=PYTHONUSERBASE --jobs=12 --show_task_finish --experimental_generate_json_trace_profile 
build  --verbose_failures  --action_env=HOME --action_env=PYTHONUSERBASE --jobs=12 --show_task_finish --experimental_generate_json_trace_profile 
build  --verbose_failures  --action_env=HOME --action_env=PYTHONUSERBASE --jobs=12 --show_task_finish --experimental_generate_json_trace_profile 
build  --verbose_failures  --action_env=HOME --action_env=PYTHONUSERBASE --jobs=12 --show_task_finish --experimental_generate_json_trace_profile 
build  --verbose_failures  --action_env=HOME --action_env=PYTHONUSERBASE --jobs=12 --show_task_finish --experimental_generate_json_trace_profile 
build  --verbose_failures  --action_env=HOME --action_env=PYTHONUSERBASE --jobs=12 --show_task_finish --experimental_generate_json_trace_profile 
build  --verbose_failures  --action_env=HOME --action_env=PYTHONUSERBASE --jobs=12 --show_task_finish --experimental_generate_json_trace_profile 
build  --verbose_failures  --action_env=HOME --action_env=PYTHONUSERBASE --jobs=12 --show_task_finish --experimental_generate_json_trace_profile 
build  --verbose_failures  --action_env=HOME --action_env=PYTHONUSERBASE --jobs=12 --show_task_finish --experimental_generate_json_trace_profile 
build  --verbose_failures  --action_env=HOME --action_env=PYTHONUSERBASE --jobs=12 --show_task_finish --experimental_generate_json_trace_profile 
build  --verbose_failures  --action_env=HOME --action_env=PYTHONUSERBASE --jobs=12 --show_task_finish --experimental_generate_json_trace_profile 
build  --verbose_failures  --action_env=HOME --action_env=PYTHONUSERBASE --jobs=12 --show_task_finish --experimental_generate_json_trace_profile 
build  --verbose_failures  --action_env=HOME --action_env=PYTHONUSERBASE --jobs=12 --show_task_finish --experimental_generate_json_trace_profile 
build  --verbose_failures  --action_env=HOME --action_env=PYTHONUSERBASE --jobs=12 --show_task_finish --experimental_generate_json_trace_profile 
build  --verbose_failures  --action_env=HOME --action_env=PYTHONUSERBASE --jobs=12 --show_task_finish --experimental_generate_json_trace_profile 
build  --verbose_failures  --action_env=HOME --action_env=PYTHONUSERBASE --jobs=12 --show_task_finish --experimental_generate_json_trace_profile 
build  --verbose_failures  --action_env=HOME --action_env=PYTHONUSERBASE --jobs=12 --show_task_finish --experimental_generate_json_trace_profile 
build  --verbose_failures  --action_env=HOME --action_env=PYTHONUSERBASE --jobs=12 --show_task_finish --experimental_generate_json_trace_profile 
build  --verbose_failures  --action_env=HOME --action_env=PYTHONUSERBASE --jobs=12 --show_task_finish --experimental_generate_json_trace_profile 
build  --verbose_failures  --action_env=HOME --action_env=PYTHONUSERBASE --jobs=12 --show_task_finish --experimental_generate_json_trace_profile 
build  --verbose_failures  --action_env=HOME --action_env=PYTHONUSERBASE --jobs=12 --show_task_finish --experimental_generate_json_trace_profile 
build  --verbose_failures  --action_env=HOME --action_env=PYTHONUSERBASE --jobs=12 --show_task_finish --experimental_generate_json_trace_profile 
build  --verbose_failures  --action_env=HOME --action_env=PYTHONUSERBASE --jobs=12 --show_task_finish --experimental_generate_json_trace_profile 
build  --verbose_failures  --action_env=HOME --action_env=PYTHONUSERBASE --jobs=12 --show_task_finish --experimental_generate_json_trace_profile 
build  --verbose_failures  --action_env=HOME --action_env=PYTHONUSERBASE --jobs=12 --show_task_finish --experimental_generate_json_trace_profile 
build  --verbose_failures  --action_env=HOME --action_env=PYTHONUSERBASE --jobs=12 --show_task_finish --experimental_generate_json_trace_profile 
build  --verbose_failures  --action_env=HOME --action_env=PYTHONUSERBASE --jobs=12 --show_task_finish --experimental_generate_json_trace_profile 
build  --verbose_failures  --action_env=HOME --action_env=PYTHONUSERBASE --jobs=12 --show_task_finish --experimental_generate_json_trace_profile 
build  --verbose_failures  --action_env=HOME --action_env=PYTHONUSERBASE --jobs=12 --show_task_finish --experimental_generate_json_trace_profile 
build  --verbose_failures  --action_env=HOME --action_env=PYTHONUSERBASE --jobs=12 --show_task_finish --experimental_generate_json_trace_profile 
build  --verbose_failures  --action_env=HOME --action_env=PYTHONUSERBASE --jobs=12 --show_task_finish --experimental_generate_json_trace_profile 
build  --verbose_failures  --action_env=HOME --action_env=PYTHONUSERBASE --jobs=12 --show_task_finish --experimental_generate_json_trace_profile 
build  --verbose_failures  --action_env=HOME --action_env=PYTHONUSERBASE --jobs=12 --show_task_finish --experimental_generate_json_trace_profile 
build  --verbose_failures  --action_env=HOME --action_env=PYTHONUSERBASE --jobs=12 --show_task_finish --experimental_generate_json_trace_profile 
build  --verbose_failures  --action_env=HOME --action_env=PYTHONUSERBASE --jobs=12 --show_task_finish --experimental_generate_json_trace_profile 
build  --verbose_failures  --action_env=HOME --action_env=PYTHONUSERBASE --jobs=12 --show_task_finish --experimental_generate_json_trace_profile 
