# Last updated 2024-01-04
apipkg
attrs
certifi
chardet
execnet
flake8_docstrings
idna
importlib_metadata
iniconfig
more_itertools
packaging
pluggy
py
pytest
pytest-dependency
pytest-xdist
pyyaml
requests
six
urllib3
yapf
zipp
