# Last updated 2025-06-03
apipkg
attrs
certifi
chardet
execnet
flake8_docstrings
idna
importlib_metadata
iniconfig
more_itertools
packaging
pluggy
py
pytest
pytest-dependency
pytest-xdist
pyyaml
requests
setuptools
six
urllib3
yapf
zipp
