trigger:
  branches:
    include:
    - "main"

stages:
- stage: check
  dependsOn: []
  pool:
    vmImage: "ubuntu-20.04"
  jobs:
  - job: build_and_format
    displayName: "do_ci.sh"
    dependsOn: []
    strategy:
      maxParallel: 1
      matrix:
        build:
          CI_TARGET: "build"
        #format:
        #  CI_TARGET: "check_format"
    timeoutInMinutes: 120
    steps:
    - template: bazel.yml
      parameters:
        ciTarget: $(CI_TARGET)

#- stage: test
#  dependsOn: ["check"]
#  pool: "x64-large"
#  jobs:
#  - job: test_and_benchmark
#    displayName: "do_ci.sh"
#    strategy:
#      # Both test and benchmark need dedicated resources for stability.
#      maxParallel: 1
#      matrix:
#        test:
#          CI_TARGET: "test"
#        benchmark:
#          CI_TARGET: "benchmark_with_own_binaries"
#    timeoutInMinutes: 120
#    steps:
#    - template: bazel.yml
#      parameters:
#        ciTarget: $(CI_TARGET)
#
#- stage: clang_tidy
#  dependsOn: ["check"]
#  pool: "x64-large"
#  jobs:
#  - job: clang_tidy
#    displayName: "do_ci.sh"
#    strategy:
#      maxParallel: 1
#      matrix:
#        clang_tidy:
#          CI_TARGET: "clang_tidy"
#    timeoutInMinutes: 120
#    steps:
#    - template: bazel.yml
#      parameters:
#        ciTarget: $(CI_TARGET)
#
#- stage: test_gcc
#  dependsOn: ["check"]
#  pool: "x64-large"
#  jobs:
#  - job: test_gcc
#    displayName: "do_ci.sh"
#    strategy:
#      maxParallel: 1
#      matrix:
#        test_gcc:
#          CI_TARGET: "test_gcc"
#    timeoutInMinutes: 120
#    steps:
#    - template: bazel.yml
#      parameters:
#        ciTarget: $(CI_TARGET)
#
#- stage: sanitizers
#  dependsOn: ["test"]
#  pool: "x64-large"
#  jobs:
#  - job: sanitizers
#    displayName: "do_ci.sh"
#    strategy:
#      maxParallel: 2
#      matrix:
#        asan:
#          CI_TARGET: "asan"
#        tsan:
#          CI_TARGET: "tsan"
#    timeoutInMinutes: 120
#    steps:
#    - template: bazel.yml
#      parameters:
#        ciTarget: $(CI_TARGET)
#
#- stage: coverage_unit
#  dependsOn: ["test"]
#  pool: "x64-large"
#  jobs:
#  - job: coverage_unit
#    displayName: "do_ci.sh"
#    strategy:
#      maxParallel: 1
#      matrix:
#        coverage:
#          CI_TARGET: "coverage"
#    timeoutInMinutes: 120
#    steps:
#    - template: bazel.yml
#      parameters:
#        ciTarget: $(CI_TARGET)
#    - task: PublishPipelineArtifact@1
#      condition: always()
#      displayName: 'Publish the line coverage report'
#      inputs:
#        targetPath: $(Build.SourcesDirectory)/coverage_html.zip
#        artifactName: UnitTestCoverageReport-$(System.JobAttempt)
#
#- stage: coverage_integration
#  dependsOn: ["test"]
#  pool: "x64-large"
#  jobs:
#  - job: coverage_integration
#    displayName: "do_ci.sh"
#    strategy:
#      maxParallel: 1
#      matrix:
#        coverage_integration:
#          CI_TARGET: "coverage_integration"
#    timeoutInMinutes: 120
#    steps:
#    - template: bazel.yml
#      parameters:
#        ciTarget: $(CI_TARGET)
#    - task: PublishPipelineArtifact@1
#      condition: always()
#      displayName: 'Publish the line coverage report'
#      inputs:
#        targetPath: $(Build.SourcesDirectory)/coverage_html.zip
#        artifactName: IntegrationTestCoverageReport
#
#
#- stage: release
#  dependsOn:
#  - "clang_tidy"
#  - "test_gcc"
#  - "sanitizers"
#  - "coverage_unit"
#  - "coverage_integration"
#  condition: eq(variables['PostSubmit'], true)
#  pool: "x64-large"
#  jobs:
#  - job: release
#    displayName: "do_ci.sh"
#    strategy:
#      matrix:
#        release:
#          CI_TARGET: "docker"
#    timeoutInMinutes: 120
#    steps:
#    - template: bazel.yml
#      parameters:
#        ciTarget: $(CI_TARGET)
