name: Nighthawk Envoy CI/CD

permissions:
  contents: read

on:
  pull_request:

jobs:
  check:
    runs-on: envoy-x64-medium
    strategy:
      fail-fast: false
      matrix:
        target: [build, check_format]
    steps:
    - uses: actions/checkout@v3
    - name: Run CI script
      run: |
        echo "Hello github"
